### Objects and Data Structures Assessment Test

### Numbers

In [1]:
50 +50.25

100.25

In [4]:
25*4.01

100.25

In [9]:
10000/100

100.0

In [10]:
4 * (6 + 5)

44

In [11]:
4 * 6 + 5

29

In [12]:
4 + 6 * 5

34

In [14]:
3 + 1.5 + 4

8.5

In [19]:
5 **2

25

In [20]:
100 ** 0.5

10.0

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [21]:
s= 'Hello'

In [22]:
s[1]

'e'

Reverse the string 'hello' using slicing:

In [24]:
s[::-1]

'olleH'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [25]:
s[4]

'o'

In [26]:
s[-1]

'o'

### Lists

Build this list [0,0,0] two separate ways.

In [27]:
L= [0,0,0]

In [29]:
L

[0, 0, 0]

In [32]:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [33]:

list3 = [1,2,[3,4,'hello']]

In [39]:
list3[2][2] ='goodbye'

In [40]:
list3

[1, 2, [3, 4, 'goodbye']]


Sort the list below:

In [47]:
list4 = [5,3,4,6,1]

In [48]:
[list4]

[[5, 3, 4, 6, 1]]

In [49]:
list4.sort()
list4

[1, 3, 4, 5, 6]

### Dictionaries
Using keys and indexing, grab the 'hello' from the following dictionaries:

In [50]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [53]:
d['simple_key']

'hello'

In [54]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [57]:
d['k1']['k2']

'hello'

In [58]:

# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
# Grab 'hello'

In [59]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [60]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [61]:

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

### Tuples

How do you create a tuple?

In [62]:
t = (1,2,3)

In [63]:
t

(1, 2, 3)

### Sets

In [66]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [67]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

### Booleans


#### Answer before running cell

In [68]:
2>3

False

In [69]:
3 <= 2

False

In [70]:
3 == 2.0

False

In [71]:
3.0 == 3

True

In [72]:
4**0.5 != 2

False

In [73]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [79]:
l_one[2][0] >= l_two[2]['k1']

False