## if, else, elif

In [8]:
hungry = False
if hungry:
    print('FEED ME!')
else:
    print("I am not hungry")

I am not hungry

In [9]:
hungry = True
if hungry:
    print('FEED ME!')
else:
    print("I am not hungry")

FEED ME!

In [15]:
loc = 'BANK'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'BANK':
        print("Money is Cool")
elif loc == "store":
    print("Welcome to the Store!")
else:
    print("I dont know much.")

Money is Cool

In [18]:
name = "Rekha"

if name == 'Frankie':
   print("Hello Frankie!")
elif name == 'sammy':
    print("Hello Sammy")
else: 
    print('what is your name')

what is your name

## For Loops

In [20]:
mylist = [1,2,3,4,5,6,8,9,10]

In [23]:
for  i in mylist:
    print ("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [34]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd Number:{num}')

odd Number:1
2
odd Number:3
4
odd Number:5
6
8
odd Number:9
10

In [39]:
list_sum = 0
for num in mylist:
    list_sum = list_sum +num
print(list_sum)

48

In [40]:
mystring = 'Hello World'
for letter in mystring:
    print (letter)

H
e
l
l
o

W
o
r
l
d

In [41]:
tup =(1,2,3)
for item in tup:
    print(item)

1
2
3

In [42]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [45]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [47]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [48]:
mylist = [(1,2,3), (5,6,7),(8,9,10)]

In [50]:
for a,b,c in mylist:
    print(b)

2
6
9

In [54]:
d = {'k1':1,'k2':2,'K3':3}

for num in d:
     print(num)

k1
k2
K3

In [56]:
d = {'k1':1,'k2':2,'K3':3}

for num in d.items():
     print(num)

('k1', 1)
('k2', 2)
('K3', 3)

In [57]:
d = {'k1':1,'k2':2,'K3':3}

for value in d.values():
     print(value)

1
2
3

### While Loops

In [61]:
x =0
while x < 5:
    print(f'The current value of x is {x}')
    
    x = x +1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [63]:
x =50
while x < 5:
    print(f'The current value of x is {x}')
    
    x = x +1
else:
    print("x is not less than 5")

x is not less than 5

In [66]:
x= [1,2,3]
for item in x:
    pass
print('end of my script')

end of my script

In [73]:
mystring = "Sammy"

In [81]:
for letter in mystring:
    
        print(letter)

S
a
m
m
y

In [84]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [85]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

In [87]:
x =0
while x <5 :
    print(x)
    x +=1

0
1
2
3
4

In [89]:
x =0
while x <5 :
    if x == 2:
        break
    print(x)
    x +=1

0
1

### Useful Operators

In [90]:
mylist = [1,2,3]

In [93]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [95]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [96]:
index_count = 0
for letter in 'abcde':
    print('At index{} the letter is {}'.format(index_count,letter))
    index_count += 1

At index0 the letter is a
At index1 the letter is b
At index2 the letter is c
At index3 the letter is d
At index4 the letter is e

In [98]:
index_count = 0
word = 'abcde'
for letter in  word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [103]:

word = 'abcde'
for item in enumerate( word):
      print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [104]:

word = 'abcde'
for index,letter in enumerate( word):
        print(index)
        print(letter)
        print('\n')

0
a


1
b


2
c


3
d


4
e

In [107]:
mylist = [1,2,3,4,5]
mylist2 = ['a', 'b', 'c','d','e']
mylist3 = [100,34,25,78,86]

In [108]:
for item in zip(mylist, mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 34)
(3, 'c', 25)
(4, 'd', 78)
(5, 'e', 86)

In [110]:
mylist = [1,2,3,4,5,7,8,9]
mylist2 = ['a', 'b', 'c','d','e']
mylist3 = [100,34,25,78,86]

In [111]:
for item in zip(mylist, mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 34)
(3, 'c', 25)
(4, 'd', 78)
(5, 'e', 86)

In [113]:
list(zip(mylist,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [114]:
'x'in [1,2,3]

False

In [115]:
'x'in ['x','y','z']

True

In [116]:
'a'in 'a world'

True

In [118]:
'mykey' in {'my key':345}
345 in d.keys()

False

In [119]:
mylist = [10,20,30,40]

In [121]:
min(mylist)

10

In [122]:
from random import shuffle

In [125]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [126]:
shuffle(mylist)

In [127]:
mylist

[6, 5, 4, 9, 1, 10, 8, 7, 2, 3]

In [128]:
from random import randint

In [129]:
randint(0,100)

69

In [130]:
randint(0,100)

61

In [131]:
mynum = randint(0,10)

In [132]:
mynum

2

In [137]:
result = input('enter a number here')

enter a number here32

In [138]:
result

'32'

In [139]:
float(result)

32.0

In [140]:
int(result)

32

### List Comprehension

In [141]:
mystring ='hello'

In [142]:
mylist =[]
for letter in mystring:
    mylist.append(letter)

In [143]:
mylist

['h', 'e', 'l', 'l', 'o']

In [144]:
mylist = [letter for letter in mystring]

In [145]:
mylist

['h', 'e', 'l', 'l', 'o']

In [151]:
mylist = [qweqwe for qweqwe in 'wordtwo']

In [152]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [153]:
mylist = [x for x in range(0,11)]

In [154]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [155]:
mylist = [num**2 for num in range(0,11)]

In [156]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [158]:
mylist = [x**2 for x in range(0,11) if x%2 ==0]

In [159]:
mylist

[0, 4, 16, 36, 64, 100]

In [160]:
celcius = [0,10,20,34,5]
farenheit = [((9/5)* temp + 32) for temp in celcius]

In [161]:
farenheit

[32.0, 50.0, 68.0, 93.2, 41.0]

In [163]:
farenheit = []
for temp in celcius:
    farenheit.append((9/5)* temp + 32)

In [164]:
farenheit

[32.0, 50.0, 68.0, 93.2, 41.0]

In [165]:
results = [x if x%2 ==0 else "odd"for x in range(0,11)]

In [166]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [167]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [168]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]